@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/font/UTM_BryantLG.ttf) format("woff2"), url(../assets/fonts/UTM_BryantLG_B.ttf) format("woff");
  font-weight: normal;
  font-style: normal; }
.header {
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .navbar {
    width: 90%;
    margin: 0;
    padding: 20px 0; }

.logo {
  width: 40%;
  padding: 0; }
  .logo .navbar-brand {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%; }
  .logo .img-logo {
    width: 95%; }

.btn-navbar {
  width: 100%;
  padding: 0;
  display: flex; }
  .btn-navbar .collapse .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

.navbar-nav .active {
  background: #b2d235; }

.nav-item {
  padding: 0px 15px;
  border-radius: 20px;
  font-size: 15px; }
  .nav-item:hover {
    background-color: #b2d235; }
  .nav-item .text-secondary {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #505353;
    text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .header .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .logo {
    width: 45%; }

  .btn-navbar {
    width: 100%; }
    .btn-navbar .collapse {
      padding: 10px 0; }
      .btn-navbar .collapse .navbar-nav {
        display: flex;
        justify-content: center; }

  .nav-item {
    font-size: 13px; } }
@media only screen and (max-width: 414px) {
  .header .navbar {
    padding: 10px 0; }

  .logo {
    width: 50%; }
    .logo .navbar-brand {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 100%; }
    .logo .img-logo {
      width: 100%; }

  .btn-navbar .navbar-toggler {
    border: 0;
    position: absolute;
    top: 15px; }
    .btn-navbar .navbar-toggler .navbar-toggler-icon {
      width: 1em;
      height: 1em; }
  .btn-navbar .collapse {
    padding: 0; }
    .btn-navbar .collapse .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end; }

  .navbar-collapse {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #f8f9fa;
    text-align: center; } }
.banner {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/hapo_learn_banner1.png");
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat; }
  .banner .bg-banner {
    display: none; }
  .banner .banner-contents {
    width: 90%; }
    .banner .banner-contents .learn-any {
      font-family: "utm_bryantlgregular";
      color: #11114e;
      text-decoration: none;
      font-size: 62px;
      font-weight: bolder;
      margin-bottom: 0; }
    .banner .banner-contents .at-hapo {
      font-family: "utm_bryantlgregular";
      color: #11114e;
      text-decoration: none;
      font-size: 62px;
      font-weight: 900;
      -webkit-text-stroke-width: 3px;
      margin: 0; }
    .banner .banner-contents .method-study {
      color: #505353;
      font-size: 32px;
      font-family: "utm_bryantlgregular";
      margin: 15px 0;
      line-height: 28px; }
    .banner .banner-contents .btn-start-learning {
      display: inline-block;
      background-color: #b2d235;
      padding: 15px 50px;
      text-decoration: none;
      border-radius: 50px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 40px; }
      .banner .banner-contents .btn-start-learning:hover {
        color: white;
        text-decoration: underline; }

.img-owl {
  padding: 0px 5px;
  width: 5%; }

.txt-start-learning {
  font-family: "utm_bryantlgregular";
  font-size: 35px;
  color: white;
  font-weight: 700; }

@media only screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 355px; }
    .banner .bg-banner {
      display: none; }
    .banner .banner-contents .learn-any {
      font-size: 26px; }
    .banner .banner-contents .at-hapo {
      font-size: 26px;
      -webkit-text-stroke-width: 2px; }
    .banner .banner-contents .method-study {
      font-size: 12px;
      margin: 10px 0;
      font-size: 14px;
      line-height: 20px; }
    .banner .banner-contents .btn-start-learning {
      padding: 10px 25px;
      margin-top: 8px; }

  .txt-start-learning {
    font-size: 16px; } }
@media only screen and (max-width: 414px) {
  .banner {
    width: 100%;
    height: 190px;
    background: none;
    display: block; }
    .banner .bg-banner {
      background-image: url("../images/hapo_learn_banner1.png");
      width: 100%;
      height: 190px;
      background-size: cover;
      background-position: inherit;
      background-repeat: no-repeat;
      display: block; }
    .banner .banner-contents {
      width: 80%;
      top: 270px;
      margin: auto; }
      .banner .banner-contents .learn-any {
        font-size: 28px; }
      .banner .banner-contents .at-hapo {
        font-size: 28px; }
      .banner .banner-contents .method-study {
        font-size: 15px;
        line-height: 20px;
        margin: 6px 0; }
      .banner .banner-contents .btn-start-learning {
        padding: 10px 32px;
        margin-left: 35px;
        width: 80%;
        text-align: center; }

  .txt-start-learning {
    font-size: 17px;
    font-weight: 900; }

  .img-owl {
    padding: 0px 5px;
    width: 13%; } }
.background-grey {
  padding-bottom: 150px;
  background-image: linear-gradient(0deg, #e5e5e5, white); }

.courses {
  margin-top: -90px;
  display: flex;
  justify-content: center; }
  .courses .row-courses {
    width: 90%;
    margin: 0; }
    .courses .row-courses .col-courses {
      display: flex;
      justify-content: center; }

.card {
  border-radius: 15px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: fit-content; }

.bg-html {
  background: #3f6185;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-html .img-html {
    width: 70%; }

.bg-laravel {
  background: #dc594c;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-laravel .img-laravel {
    width: 55%; }

.bg-php {
  background: #556598;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-php .img-php {
    width: 70%; }

.card-body {
  text-align: center;
  padding: 10px; }
  .card-body .card-title {
    font-family: "utm_bryantlgregular";
    font-weight: 900;
    color: #b2d235;
    font-size: 36px;
    margin: 10px 0;
    text-shadow: 1px 1px #6f8710;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .card-body .card-text {
    font-family: "utm_bryantlgregular";
    margin: auto;
    font-weight: 800;
    font-size: 27px;
    color: #505353;
    margin-bottom: 0.5rem;
    overflow: hidden;
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
  .card-body .btn-take-course {
    background: #b2d235;
    box-shadow: inset 0px 1.5px 2px #6f8710;
    border-radius: 40px;
    width: 70%;
    font-weight: 600;
    font-size: 28px;
    padding: 8px 0;
    margin: 10px 0;
    color: white;
    font-family: "utm_bryantlgregular"; }
    .card-body .btn-take-course:hover {
      font-size: 29px; }

@media only screen and (max-width: 768px) {
  .courses .row-courses {
    width: 100%; }
    .courses .row-courses .col-courses {
      display: flex;
      justify-content: center; }

  .card-body {
    padding: 5px; }
    .card-body .card-title {
      font-weight: 700;
      font-size: 20px; }
    .card-body .card-text {
      font-size: 13px; }
    .card-body .btn-take-course {
      padding: 4px 12px;
      font-size: 13px; }

  .bg-html {
    height: 125px;
    background-size: contain; }

  .bg-laravel {
    height: 125px;
    background-size: contain; }

  .bg-php {
    height: 125px;
    background-size: contain; } }
@media only screen and (max-width: 414px) {
  .background-grey {
    width: 100%;
    height: 280px; }

  .courses {
    margin-top: -15%; }

  .card {
    width: 70%;
    margin-bottom: 15px; }

  .card-body .card-title {
    font-size: 20px; } }
.other-courses {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .other-courses .container-title {
    text-align: center; }
    .other-courses .container-title .txt-container-title {
      display: inline-block;
      margin: 100px 0 60px 0;
      font-size: 80px;
      -webkit-text-stroke-width: 3px;
      font-weight: 900;
      color: #11114e;
      border-bottom: 5px #b2d235 solid;
      font-family: "utm_bryantlgregular"; }
  .other-courses .row-other-courses {
    width: 90%;
    margin: 0 0 30px 0; }
    .other-courses .row-other-courses .col-courses {
      display: flex;
      justify-content: center; }

.bg-css {
  background: #24abe2;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-css .img-css {
    width: 70%; }

.bg-ruby {
  background: #e14e40;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-ruby .img-ruby {
    width: 70%; }

.bg-java {
  background: #1b75bb;
  height: 250px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bg-java .img-java {
    width: 70%; }

.all-courses {
  text-align: center; }
  .all-courses .btn-all-courses {
    color: #90AB26;
    text-decoration: none;
    font-size: 45px;
    -webkit-text-stroke-width: 2px; }
    .all-courses .btn-all-courses:hover {
      text-decoration: underline; }

@media only screen and (max-width: 768px) {
  .other-courses .container-title .txt-container-title {
    margin: 55px 0 40px 0;
    font-size: 45px; }
  .other-courses .row-other-courses {
    width: 100%;
    margin: 0 0 20px 0; }
    .other-courses .row-other-courses .col-courses {
      display: flex;
      justify-content: center; }

  .bg-css {
    height: 125px;
    background-size: contain; }

  .bg-ruby {
    height: 125px;
    background-size: contain; }

  .bg-java {
    height: 125px;
    background-size: contain; }

  .all-courses .btn-all-courses {
    font-size: 25px; } }
@media only screen and (max-width: 414px) {
  .other-courses .container-title .txt-container-title {
    margin: 25px 0 20px 0;
    font-size: 38px; }
  .other-courses .row-other-courses {
    width: 100%;
    margin: 0; }
    .other-courses .row-other-courses .col-courses {
      display: flex;
      justify-content: center; }

  .bg-css {
    height: 125px;
    background-size: contain; }

  .bg-ruby {
    height: 125px;
    background-size: contain; }

  .bg-java {
    height: 125px;
    background-size: contain; }

  .all-courses .btn-all-courses {
    font-size: 22px; } }
.why-hapo {
  width: 100%;
  padding: 0;
  margin-top: 130px; }

.container-laptop {
  position: relative; }
  .container-laptop .img-laptop {
    position: absolute;
    left: 0;
    bottom: -16em; }

.row-why-hapo {
  height: 750px;
  background-image: url("../images/bg_why_hapo.png");
  background-size: cover;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%; }
  .row-why-hapo .col-left {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 7em;
    width: 50%; }
    .row-why-hapo .col-left .txt-why-hapo {
      font-size: 85px;
      font-weight: 600;
      color: white;
      text-shadow: 1px 1px white;
      margin: 0;
      font-family: "utm_bryantlgregular"; }
    .row-why-hapo .col-left .txt-content {
      color: white;
      font-size: 26px;
      font-family: "utm_bryantlgregular"; }
  .row-why-hapo .col-right {
    width: 50%;
    text-align: left; }
    .row-why-hapo .col-right .img-computer {
      width: 95%;
      margin-top: 6em; }

@media only screen and (max-width: 768px) {
  .container-laptop {
    position: relative; }
    .container-laptop .img-laptop {
      position: absolute;
      left: 0;
      bottom: -13em;
      width: 30%;
      z-index: 1; }

  .row-why-hapo {
    height: 435px;
    background-image: url("../images/bg_why_hapo.png");
    margin-top: 100px;
    position: relative; }
    .row-why-hapo .col-left {
      width: 60%;
      justify-content: flex-end;
      margin-bottom: 1em; }
      .row-why-hapo .col-left .txt-why-hapo {
        font-size: 54px;
        color: white;
        position: absolute;
        bottom: 5.5em;
        left: 235px;
        width: 55%; }
      .row-why-hapo .col-left .txt-content {
        color: white;
        font-size: 17px; }
    .row-why-hapo .col-right {
      width: 40%; }
      .row-why-hapo .col-right .img-computer {
        width: 100%;
        margin-top: 10em; } }
@media only screen and (max-width: 414px) {
  .why-hapo {
    margin-top: 55px; }

  .container-laptop .img-laptop {
    bottom: -10em;
    width: 40%; }

  .row-why-hapo {
    height: 610px;
    flex-direction: column; }
    .row-why-hapo .col-left {
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .row-why-hapo .col-left .txt-why-hapo {
        font-size: 45px;
        width: 54%;
        margin-bottom: 30px;
        position: unset;
        margin-left: 3em; }
      .row-why-hapo .col-left .txt-content {
        font-size: 14px; }
    .row-why-hapo .col-right {
      width: 100%;
      text-align: center; }
      .row-why-hapo .col-right .img-computer {
        width: 90%;
        margin: 0; } }
.feedback {
  margin: 4em auto; }
  .feedback .row-feedback-title {
    justify-content: center; }
    .feedback .row-feedback-title .feedback-title {
      font-size: 80px;
      color: #11114e;
      font-weight: 900;
      font-family: "utm_bryantlgregular";
      border-bottom: 5px #b2d235 solid;
      text-shadow: 1px 0 #11114e; }
  .feedback .row-feedback-sub {
    width: 100%;
    justify-content: center;
    text-align: center; }
    .feedback .row-feedback-sub .feedback-sub {
      width: 53%;
      color: #505353;
      margin: 15px 0;
      font-family: "utm_bryantlgregular";
      font-size: 35px;
      font-weight: 600; }

.slide-feedback-con {
  width: 100%; }
  .slide-feedback-con .carousel-inner {
    width: 85%;
    margin: auto;
    display: flex; }
    .slide-feedback-con .carousel-inner .carousel-item {
      width: 100%; }

.icon-feedback {
  margin-top: 3.5em;
  font-weight: 300;
  z-index: 999;
  height: 1em;
  color: #969494;
  background: white; }
  .icon-feedback:hover {
    color: black;
    cursor: pointer;
    text-decoration: none; }

.row-feedback {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .row-feedback .col-feedback {
    padding: 0;
    width: 47%; }
    .row-feedback .col-feedback .feedback-content-con {
      width: 100%;
      padding: 0 40px;
      border: 1px solid #707575;
      font-family: "utm_bryantlgregular";
      border-radius: 15px;
      margin: 0;
      font-weight: 600;
      position: relative; }

.feedback-content {
  color: #505353;
  border-left: 2px #707575 solid;
  padding-left: 15px;
  margin: 30px 0;
  font-size: 30px; }

.img-down {
  position: absolute;
  bottom: -25px;
  left: 38px; }

.icon-next {
  width: 20%;
  height: 100%; }

.user-feedback {
  margin: 30px 0; }
  .user-feedback .col-ava-user {
    text-align: center;
    padding: 0; }
  .user-feedback .col-info-user {
    padding: 0; }
    .user-feedback .col-info-user .user-name-feedback,
    .user-feedback .col-info-user .course-name-feedback {
      margin: 0; }
    .user-feedback .col-info-user .checked {
      color: orange; }

@media only screen and (max-width: 768px) {
  .feedback .row-feedback-title .feedback-title {
    font-size: 45px; }
  .feedback .row-feedback-sub .feedback-sub {
    width: 85%;
    margin: 15px 0 25px 0;
    font-size: 22px; }

  .row-feedback {
    display: flex;
    justify-content: center; }
    .row-feedback .col-feedback {
      padding: 0;
      margin: 0;
      width: 100%; }
      .row-feedback .col-feedback .feedback-content-con {
        padding: 0 40px;
        width: 100%;
        margin: 0; }

  .feedback-content {
    color: #505353;
    border-left: 2px #707575 solid;
    padding-left: 15px;
    margin: 30px 0; }

  .img-down {
    left: 60px; }

  .feedback-content:after,
  .feedback-content:before {
    left: 50px;
    top: 332px; }

  .icon-feedback {
    margin-top: 4.5em;
    z-index: 1; }

  .user-feedback .col-ava-user {
    margin-left: 2em; }
  .user-feedback .col-info-user .user-name-feedback,
  .user-feedback .col-info-user .course-name-feedback {
    margin: 0; }
  .user-feedback .col-info-user .checked {
    color: orange; }

  .col-feedback-left {
    display: none; } }
@media only screen and (max-width: 424px) {
  .feedback {
    margin: 2em auto; }
    .feedback .row-feedback-title .feedback-title {
      font-size: 38px; }
    .feedback .row-feedback-sub .feedback-sub {
      width: 95%;
      margin: 0 0 25px 0;
      font-size: 18px; }
    .feedback .slide-feedback-con .carousel-inner {
      width: 100%; }

  .row-feedback {
    display: flex;
    justify-content: center; }
    .row-feedback .col-feedback {
      padding: 0;
      margin: 0;
      width: 100%; }
      .row-feedback .col-feedback .feedback-content-con {
        padding: 0 15px; }

  .feedback-content {
    color: #505353;
    border-left: 2px #707575 solid;
    padding-left: 15px;
    margin: 20px 0;
    font-size: 14px; }

  .img-down {
    left: 23px; }

  .feedback-content:after,
  .feedback-content:before {
    left: 20px;
    top: 126px; }

  .icon-feedback {
    margin-top: 2.6em;
    font-size: 1.3em;
    z-index: 1; }

  .user-feedback .col-ava-user {
    margin-left: 1em;
    margin-right: 1em; }
  .user-feedback .col-info-user .user-name-feedback,
  .user-feedback .col-info-user .course-name-feedback {
    margin: 0; }
  .user-feedback .col-info-user .checked {
    color: orange; }

  .col-feedback-left {
    display: none; } }
.become-member {
  background-image: url("../images/bg_become_member.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0; }
  .become-member .become-member-main {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center; }
    .become-member .become-member-main .become-member-content {
      font-size: 62px;
      font-weight: 900;
      font-family: "utm_bryantlgregular";
      color: white;
      text-shadow: 1px 0 white;
      width: 54%; }

.btn-mem {
  margin-top: 15px; }
  .btn-mem .btn-start-learning {
    padding: 10px 20px;
    background-color: white;
    font-family: "utm_bryantlgregular";
    color: #b2d235;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px #e3e7e7;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 1px 1px #6f8710;
    font-size: 35px; }
    .btn-mem .btn-start-learning:hover {
      text-decoration: underline;
      color: #b2d235; }

@media only screen and (max-width: 768px) {
  .become-member {
    padding: 6em 0; }
    .become-member .become-member-main .become-member-content {
      width: 70%;
      font-size: 45px; } }
@media only screen and (max-width: 414px) {
  .become-member {
    padding: 3em 0; }
    .become-member .become-member-main .become-member-content {
      width: 80%;
      font-size: 27px; }
    .become-member .btn-mem .btn-start-learning {
      font-size: 30px; } }
.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0; }
  .statistic .row-statistic-title .statistic-title {
    font-size: 80px;
    font-weight: 800;
    font-family: "utm_bryantlgregular";
    color: #11114e;
    border-bottom: 5px #b2d235 solid;
    text-shadow: 1px 0 #11114e; }
  .statistic .row-statistic-index {
    text-align: center;
    width: 90%; }

.col-statistic-index .statistic-courses {
  font-size: 60px;
  font-weight: 600;
  color: #505353;
  font-family: "utm_bryantlgregular"; }
.col-statistic-index .statistic-index {
  color: #b2d235;
  font-family: "utm_bryantlgregular";
  font-size: 60px;
  font-weight: 600; }

@media only screen and (max-width: 768px) {
  .statistic {
    padding: 3em 0; }
    .statistic .row-statistic-title .statistic-title {
      font-size: 45px; }

  .col-statistic-index .statistic-courses,
  .col-statistic-index .statistic-index {
    font-size: 40px; } }
@media only screen and (max-width: 414px) {
  .statistic {
    padding: 3em 0; }
    .statistic .row-statistic-title .statistic-title {
      font-size: 45px; }

  .col-statistic-index .statistic-courses,
  .col-statistic-index .statistic-index {
    font-size: 40px; } }
footer {
  background-color: #505353;
  padding-top: 30px;
  display: flex;
  flex-direction: column; }

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }
  .content .logo {
    width: 35%;
    text-align: center; }
    .content .logo .logo-footer {
      width: 70%;
      cursor: pointer; }
    .content .logo .logo-sub {
      width: 58%;
      float: right;
      margin-right: 90px;
      text-align: right;
      color: white;
      font-family: "utm_bryantlgregular";
      font-size: 22px; }
  .content .social-footer {
    width: 35%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "utm_bryantlgregular"; }
    .content .social-footer a {
      font-size: 15px; }
    .content .social-footer .icon-footer {
      color: white; }

.img-icon {
  width: 60px; }

.popover-body {
  padding: 10px 5px;
  font-size: 15px; }

.title-footer {
  width: 30%;
  text-align: center; }
  .title-footer .table {
    text-align: left;
    color: white; }
    .title-footer .table td {
      border: none;
      cursor: pointer;
      font-family: "utm_bryantlgregular";
      font-size: 22px; }
      .title-footer .table td:hover {
        text-decoration: underline; }

.copyrighted {
  background-color: #454545;
  display: flex;
  justify-content: center;
  padding: 5px 0; }
  .copyrighted .copyrighted-content {
    color: white;
    margin: 0;
    font-size: 20px;
    font-family: "utm_bryantlgregular"; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #505353;
    padding-top: 30px;
    display: flex;
    flex-direction: column; }

  .content {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .content .logo {
      width: 35%;
      text-align: left; }
      .content .logo .logo-footer {
        width: 90%; }
      .content .logo .logo-sub {
        width: 90%;
        float: none;
        margin: 0;
        text-align: left;
        font-size: 16px; }

  .img-icon {
    width: 40px; }

  .title-footer .table td {
    padding: 10px;
    font-size: 16px; }

  .copyrighted .copyrighted-content {
    font-size: 16px; } }
@media only screen and (max-width: 414px) {
  .content {
    flex-direction: column;
    padding-bottom: 15px; }
    .content .logo {
      order: 2;
      width: 60%; }
      .content .logo .logo-sub {
        width: 100%;
        margin-left: 10px;
        padding: 5px 0; }
    .content .social-footer {
      order: 3;
      position: absolute;
      right: 0px;
      bottom: 76px; }
      .content .social-footer .icon-footer {
        display: flex;
        flex-direction: column; }

  .title-footer {
    order: 1;
    width: 100%; }
    .title-footer .table {
      display: flex;
      justify-content: center; }
      .title-footer .table td {
        padding: 10px 45px; } }
.messenger {
  position: fixed;
  background-image: url("../images/bg_messenger.png");
  right: 5px;
  top: 32em;
  padding: 7px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.messenger-box {
  position: fixed;
  right: 22px;
  top: 14em;
  width: 30%;
  height: 270px;
  background-color: white;
  box-shadow: 0px 0px 8px #707575;
  border-radius: 20px;
  display: none;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999; }

.txt-name {
  margin: 1rem 0 0 4.5rem;
  color: #707575; }

.main-chat {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .main-chat .ava-owl {
    margin-left: 1rem; }
  .main-chat .txt-chat {
    margin: 0 1rem;
    padding: 10px;
    border-radius: 20px;
    background: #f1f0f0;
    color: #505353;
    font-weight: 600; }

.login-messenger {
  background-color: #3184f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 0 50px;
  padding: 5px 0;
  cursor: pointer; }
  .login-messenger img {
    width: 10%;
    margin: 0 10px; }
  .login-messenger .txt-login {
    margin: 0;
    color: white; }

.chat-with-hapo {
  color: #707575;
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .messenger {
    bottom: 15em;
    top: unset; }

  .messenger-box {
    width: 50%;
    top: unset;
    bottom: 20em; } }
@media only screen and (max-width: 414px) {
  .messenger {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 10em; }

  .messenger-box {
    width: 80%;
    height: 215px;
    bottom: 13em; }

  .txt-name {
    font-size: 13px; }

  .main-chat .txt-chat {
    font-size: 13px; }

  .login-messenger {
    margin: 0 10px; }
    .login-messenger .txt-login {
      font-size: 13px; }

  .chat-with-hapo {
    font-size: 13px; } }
.modal-header {
  padding: 0; }

.tabs-login-register {
  width: 100%; }
  .tabs-login-register .nav-item {
    width: 50%;
    padding: 0;
    text-align: center;
    border-radius: 0; }
    .tabs-login-register .nav-item a {
      color: #b2d235;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "utm_bryantlgregular";
      font-size: 25px;
      padding: 15px 0; }

.btn-close {
  margin: 0;
  padding: 0px;
  color: #b2d235;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 1;
  opacity: 1;
  color: #b2d235;
  text-shadow: none; }
  .btn-close .fas {
    background-color: white;
    border-radius: 50%; }

.nav-tabs .nav-link {
  border: 0; }

.nav-tabs .nav-link.active {
  color: white;
  background-color: #b2d235; }

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: unset; }

.tab-content {
  width: 98%;
  margin: auto; }
  .tab-content .tab-pane {
    margin: 15px 0; }

.form-login,
.form-register {
  font-family: "utm_bryantlgregular"; }
  .form-login .label-username,
  .form-login .label-password,
  .form-login .label-email,
  .form-login .label-repassword,
  .form-register .label-username,
  .form-register .label-password,
  .form-register .label-email,
  .form-register .label-repassword {
    width: 100%;
    margin: 5px 0;
    font-size: 23px;
    font-weight: 600; }
  .form-login .txt-username,
  .form-login .txt-password,
  .form-login .txt-email,
  .form-login .txt-repassword,
  .form-register .txt-username,
  .form-register .txt-password,
  .form-register .txt-email,
  .form-register .txt-repassword {
    width: 100%;
    line-height: 55px; }

.option-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 23px;
  font-weight: 600; }
  .option-login .box-remember {
    position: unset;
    display: unset;
    padding: 0; }
    .option-login .box-remember .remember-me-checkbox {
      position: unset;
      margin: 0; }
  .option-login .forgot-pass {
    color: #b2d235; }

.btn-login,
.btn-register {
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  margin: 25px auto;
  background-color: #b2d235;
  box-shadow: inset 0px 1.5px 2px #6f8710;
  display: block;
  text-align: center;
  border-radius: 35px;
  width: 65%;
  font-size: 25px;
  font-weight: 600; }

.login-with {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0; }
  .login-with p {
    margin: 0;
    font-size: 23px;
    font-weight: 600;
    font-family: "utm_bryantlgregular";
    color: #454545; }

.login-with::before,
.login-with::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #707575; }

.login-with::before {
  margin-right: 0.25em; }

.login-with::after {
  margin-left: 00.25em; }

.with-gg,
.with-face {
  font-size: 23px;
  text-align: center;
  color: white; }
  .with-gg .icon-gg,
  .with-gg .icon-face,
  .with-face .icon-gg,
  .with-face .icon-face {
    padding: 18px; }

.with-gg {
  background-color: #dc4e41;
  padding: 5px 0; }

.with-face {
  background-color: #3b5999;
  padding: 5px 0; }

/*# sourceMappingURL=style.css.map */
