.become-member {
  background-image: url("../images/bg_become_member.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0;

  .become-member-main {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .become-member-content {
      font-size: 50px;
      font-weight: 800;
      font-family: $font-OpenS;
      color: white;
      width: 50%;
    }
  }
}

.btn-mem {
  margin-top: 15px;

  .btn-start-learning {
    padding: 10px 20px;
    background-color: white;
    color: $bg-color;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px $color-shadow-member;
    font-size: 25px;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $bg-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  .become-member {
    padding: 6em 0;

    .become-member-main .become-member-content {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 414px) {
  .become-member {
    padding: 3em 0;

    .become-member-main .become-member-content {
      width: 80%;
      font-size: 27px;
    }

    .btn-mem .btn-start-learning {
      font-size: 20px;
    }
  }
}
