.become-member {
  height: 600px;
  background-image: url("../images/bg_become_member.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .become-member-main {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    .become-member-content {
      font-size: 50px;
      font-weight: 800;
      font-family: $font-Roboto;
      color: white;
      width: 50%;
    }
  }
}

.btn-start-learning {
  padding: 10px 20px;
  background-color: white;
  color: $txt-color;
  text-decoration: none;
  border-radius: 20px;
}
