.feedback {
  margin: 4em auto;

  .row-feedback-title {
    justify-content: center;

    .feedback-title {
      font-size: 80px;
      color: $txt-bg-color;
      font-weight: 900;
      font-family: $font_UTM_BryantLG;
      border-bottom: 5px $bg-color solid;
      text-shadow: 1px 0 $txt-bg-color;
    }
  }

  .row-feedback-sub {
    width: 100%;
    justify-content: center;
    text-align: center;

    .feedback-sub {
      width: 53%;
      color: $txt-color;
      margin: 15px 0;
      font-family: $font_UTM_BryantLG;
      font-size: 35px;
      font-weight: 600;
    }
  }
}

.slide-feedback-con {
  width: 100%;

  .carousel-inner {
    width: 85%;
    margin: auto;
    display: flex;

    .carousel-item {
      width: 100%;
    }
  }
}

.icon-feedback {
  margin-top: 3.5em;
  font-weight: 300;
  z-index: 999;
  height: 1em;
  color: $icon-color;
  background: white;

  &:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.row-feedback {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .col-feedback {
    padding: 0;
    width: 47%;

    .feedback-content-con {
      width: 100%;
      padding: 0 40px;
      border: 1px solid $color-feedback;
      font-family: $font_UTM_BryantLG;
      border-radius: 15px;
      margin: 0;
      font-weight: 600;
      position: relative;
    }
  }
}

.feedback-content {
  color: $txt-color;
  border-left: 2px $color-feedback solid;
  padding-left: 15px;
  margin: 30px 0;
  font-size: 30px;
}

.img-down {
  position: absolute;
  bottom: -25px;
  left: 38px;
}

.icon-next {
  width: 20%;
  height: 100%;
}

.user-feedback {
  margin: 30px 0;

  .col-ava-user {
    text-align: center;
    padding: 0;
  }

  .col-info-user {
    padding: 0;

    .user-name-feedback,
    .course-name-feedback {
      margin: 0;
    }

    .checked {
      color: orange;
    }
  }
}

@media only screen and (max-width: 768px) {
  .feedback {
    .row-feedback-title {
      .feedback-title {
        font-size: 45px;
      }
    }

    .row-feedback-sub {
      .feedback-sub {
        width: 85%;
        margin: 15px 0 25px 0;
        font-size: 22px;
      }
    }
  }

  .row-feedback {
    display: flex;
    justify-content: center;

    .col-feedback {
      padding: 0;
      margin: 0;
      width: 100%;

      .feedback-content-con {
        padding: 0 40px;
        width: 100%;
        margin: 0;
      }
    }
  }

  .feedback-content {
    color: $txt-color;
    border-left: 2px $color-feedback solid;
    padding-left: 15px;
    margin: 30px 0;
  }

  .img-down {
    left: 60px;
  }

  .feedback-content:after,
  .feedback-content:before {
    left: 50px;
    top: 332px;
  }

  .icon-feedback {
    margin-top: 4.5em;
    z-index: 1;
  }

  .user-feedback {
    .col-ava-user {
      margin-left: 2em;
    }

    .col-info-user {
      .user-name-feedback,
      .course-name-feedback {
        margin: 0;
      }

      .checked {
        color: orange;
      }
    }
  }

  .col-feedback-left {
    display: none;
  }
}

@media only screen and (max-width: 424px) {
  .feedback {
    margin: 2em auto;

    .row-feedback-title {
      .feedback-title {
        font-size: 38px;
      }
    }

    .row-feedback-sub {
      .feedback-sub {
        width: 95%;
        margin: 0 0 25px 0;
        font-size: 18px;
      }
    }

    .slide-feedback-con {
      .carousel-inner {
        width: 100%;
      }
    }
  }

  .row-feedback {
    display: flex;
    justify-content: center;

    .col-feedback {
      padding: 0;
      margin: 0;
      width: 100%;

      .feedback-content-con {
        padding: 0 15px;
      }
    }
  }

  .feedback-content {
    color: $txt-color;
    border-left: 2px $color-feedback solid;
    padding-left: 15px;
    margin: 20px 0;
    font-size: 14px;
  }

  .img-down {
    left: 23px;
  }

  .feedback-content:after,
  .feedback-content:before {
    left: 20px;
    top: 126px;
  }

  .icon-feedback {
    margin-top: 2.6em;
    font-size: 1.3em;
    z-index: 1;
  }

  .user-feedback {
    .col-ava-user {
      margin-left: 1em;
      margin-right: 1em;
    }

    .col-info-user {
      .user-name-feedback,
      .course-name-feedback {
        margin: 0;
      }

      .checked {
        color: orange;
      }
    }
  }

  .col-feedback-left {
    display: none;
  }
}
