footer {
  background-color: $txt-color;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 2em;

  .logo {
    width: 35%;
    text-align: left;

    .logo-footer {
      width: 60%;
      cursor: pointer;
    }

    .logo-sub {
      width: 58%;
      float: left;
      text-align: right;
      color: white;
      font-family: $font_UTM_BryantLG;
      font-size: 22px;
    }
  }

  .social-footer {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $font_UTM_BryantLG;

    a {
      font-size: 15px;
      margin: 0 1em;
    }

    .icon-footer {
      color: white;
    }
  }
}

.img-icon {
  width: 60px;
}

.popover-body {
  padding: 10px 5px;
  font-size: 15px;
}

.title-footer {
  width: 25%;
  text-align: center;

  .table {
    text-align: left;
    color: white;

    td {
      border: none;
      cursor: pointer;
      font-family: $font_UTM_BryantLG;
      font-size: 22px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyrighted {
  background-color: $color-footer;
  display: flex;
  justify-content: center;
  padding: 7px 0;

  .copyrighted-content {
    color: white;
    margin: 0;
    font-size: 17px;
    font-family: $font_UTM_BryantLG;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    background-color: $txt-color;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5em;

    .logo {
      width: 35%;
      text-align: left;

      .logo-footer {
        width: 76%;
      }

      .logo-sub {
        width: 90%;
        float: none;
        margin: 0;
        text-align: left;
        font-size: 15px;
      }
    }

    .social-footer {
      width: 25%;
    }
  }

  .img-icon {
    width: 35px;
  }

  .title-footer {
    width: 30%;

    .table td {
      padding: 7px 10px;
      font-size: 15px;
    }
  }

  .copyrighted {
    .copyrighted-content {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .content {
    flex-direction: column;
    padding-bottom: 15px;

    .logo {
      order: 2;
      width: 60%;

      .logo-sub {
        margin-left: 10px;
        padding: 5px 0;
        font-size: 14px;
      }
    }

    .social-footer {
      order: 3;
      position: absolute;
      right: 0px;
      bottom: 65px;

      a{
        font-size: 10px;;
      }
    }
  }

  .title-footer {
    order: 1;
    width: 100%;

    .table {
      display: flex;
      justify-content: center;

      td {
        padding: 10px 45px;
      }
    }
  }

  .popover-body {
    padding: 3px 5px;
    font-size: 10px;
}
}
