.header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar {
    width: 85%;
    margin: 0;
    padding: 20px 0;

    .row-nav {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.logo {
  width: 100%;
  padding: 0;

  .navbar-brand {
    display: flex;
    justify-content: center;
  }

  .img-logo {
    width: 100%;
  }
}

.btn-navbar {
  width: 100%;
  padding: 0;
  display: flex;

  .collapse {
    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.nav-item {
  padding: 0px 15px;
  border-radius: 20px;
  font-size: 15px;
  &:hover {
    background-color: $bg-color;
  }

  .text-secondary {
    font-family: $font-OpenS;
    font-weight: 700;
    color: $txt-color;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 100%;
    padding: 10px 0;

    .navbar-brand {
      padding: 0;
      width: 100%;
    }

    .img-logo {
      width: 50%;
    }
  }

  .btn-navbar {
    width: 100%;
    padding: 0;
    display: flex;

    .collapse {
      .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .header .navbar {
    padding: 0;
    width: 100%;
  }

  .logo {
    .img-logo {
      width: 60%;
    }
  }

  .navbar-toggler {
    border: 0;
    position: absolute;
    top: -50px;
    margin-left: 15px;

    .navbar-toggler-icon {
      width: 1em;
      height: 1em;
    }
  }

  .navbar-collapse {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
  }
}
