.modal-header {
  padding: 0;
}

.tabs-login-register {
  width: 100%;

  .nav-item {
    width: 50%;
    padding: 0;
    text-align: center;
    border-radius: 0;

    a {
      color: $bg-color;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $font_UTM_BryantLG;
      font-size: 25px;
      padding: 15px 0;
    }
  }
}

.btn-close {
  margin: 0;
  padding: 0px;
  color: $bg-color;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 1;
  opacity: 1;
  color: $bg-color;
  text-shadow: none;

  .fas {
    background-color: white;
    border-radius: 50%;
  }
}

.nav-tabs .nav-link {
  border: 0;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: $bg-color;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: unset;
}

.tab-content {
  width: 98%;
  margin: auto;

  .tab-pane {
    margin: 15px 0;
  }
}

.form-login,
.form-register {
  font-family: $font_UTM_BryantLG;

  .label-username,
  .label-password,
  .label-email,
  .label-repassword {
    width: 100%;
    margin: 5px 0;
    font-size: 23px;
    font-weight: 600;
  }

  .txt-username,
  .txt-password,
  .txt-email,
  .txt-repassword {
    width: 100%;
    line-height: 55px;
  }
}

.option-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 23px;
  font-weight: 600;

  .box-remember {
    position: unset;
    display: unset;
    padding: 0;

    .remember-me-checkbox {
      position: unset;
      margin: 0;
    }
  }

  .forgot-pass {
    color: $bg-color;
  }
}

.btn-login,
.btn-register {
  text-transform: uppercase;
  color: white;
  padding: 7px 20px;
  margin: 25px auto;
  background-color: $bg-color;
  box-shadow: $box-shadow-btn;
  display: block;
  text-align: center;
  border-radius: 35px;
  width: 65%;
  font-size: 25px;
  font-weight: 600;
}

.login-with {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;

  p {
    margin: 0;
    font-size: 23px;
    font-weight: 600;
    font-family: $font_UTM_BryantLG;
    color: $color-footer;
  }
}

.login-with::before,
.login-with::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid $color-feedback;
}

.login-with::before {
  margin-right: 0.25em;
}

.login-with::after {
  margin-left: 00.25em;
}

.with-gg,
.with-face {
  font-size: 23px;
  text-align: center;
  color: white;

  .icon-gg,
  .icon-face {
    padding: 18px;
  }
}

.with-gg {
  background-color: $gg-color;
  padding: 5px 0;
}

.with-face {
  background-color: $face-color;
  padding: 5px 0;
}
