.messenger {
  position: fixed;
  background-image: url("../images/bg_messenger.png");
  right: 38px;
  top: 32em;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.messenger-box {
  position: fixed;
  right: 50px;
  top: 19em;
  width: 22%;
  height: 190px;
  background-color: white;
  box-shadow: 0px 0px 8px $color-feedback;
  border-radius: 20px;
  display: none;
  font-family: $font-OpenS;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.txt-name {
  margin: 1rem 0 0 4.5rem;
  color: $color-feedback;
  font-size: 12px;
}

.main-chat {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ava-owl {
    margin-left: 1rem;
  }

  .txt-chat {
    margin: 0 1rem;
    padding: 10px;
    border-radius: 20px;
    background: $bg-chat;
    color: $txt-color;
    font-weight: 600;
    font-size: 12px;
  }
}

.login-messenger {
  background-color: $mess-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: $font-OpenS;
  margin: auto;
  padding: 10px 10px;
  cursor: pointer;
  width: 70%;

  img {
    width: 6%;
    margin: 0 10px;
  }

  .txt-login {
    margin: 0;
    color: white;
    font-size: 12px;
  }
}

.chat-with-hapo {
  color: $color-feedback;
  font-family: $font-OpenS;
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .messenger {
    bottom: 15em;
    top: unset;
    width: 6%;
    padding: 5px;
    right: 20px;
  }

  .messenger-box {
    right: 28px;
    width: 50%;
    top: unset;
    bottom: 19em;
  }
}

@media only screen and (max-width: 414px) {
  .messenger {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 10em;
  }

  .messenger-box {
    width: 80%;
    height: 215px;
    bottom: 13em;
  }

  .txt-name {
    font-size: 13px;
  }

  .main-chat {
    .txt-chat {
      font-size: 13px;
    }
  }

  .login-messenger {

    .txt-login {
      font-size: 13px;
    }
  }

  .chat-with-hapo {
    font-size: 13px;
  }
}
