.other-courses {
  width: 100%;

  .container-title {
    text-align: center;

    .txt-container-title {
      display: inline-block;
      margin: 70px 0 56px 0;
      font-size: 50px;
      color: $txt-bg-color;
      border-bottom: 5px $bg-color solid;
    }
  }

  .row-other-courses {
    .col-other-courses {
      display: flex;
      justify-content: center;
    }
  }
}

// .card {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }
