.other-courses {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-title {
    text-align: center;

    .txt-container-title {
      display: inline-block;
      margin: 100px 0 60px 0;
      font-size: 80px;
      text-shadow: 1px 0 $txt-bg-color;
      font-weight: 900;
      color: $txt-bg-color;
      border-bottom: 5px $bg-color solid;
      font-family: $font_UTM_BryantLG;
    }
  }

  .row-other-courses {
    width: 90%;
    margin: 0 0 30px 0;

    .col-courses {
      display: flex;
      justify-content: center;
    }
  }
}

.bg-css {
  background: $bg-css;
  height: 250px;
  @include bg-card;

  .img-css {
    width: 70%;
  }
}

.bg-ruby {
  background: $bg-ruby;
  height: 250px;
  @include bg-card;

  .img-ruby {
    width: 70%;
  }
}

.bg-java {
  background: $bg-java;
  height: 250px;
  @include bg-card;

  .img-java {
    width: 70%;
  }
}

.all-courses {
  text-align: center;

  .btn-all-courses {
    color: $bg-color;
    text-decoration: none;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .other-courses {
    .container-title {
      .txt-container-title {
        margin: 55px 0 40px 0;
        font-size: 45px;
      }
    }

    .row-other-courses {
      width: 100%;
      margin: 0 0 20px 0;

      .col-courses {
        display: flex;
        justify-content: center;
      }
    }
  }

  .bg-css {
    height: 125px;
    background-size: contain;
  }

  .bg-ruby {
    height: 125px;
    background-size: contain;
  }

  .bg-java {
    height: 125px;
    background-size: contain;
  }

  .all-courses {
    .btn-all-courses {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .other-courses {
    .container-title {
      .txt-container-title {
        margin: 25px 0 20px 0;
        font-size: 38px;
      }
    }

    .row-other-courses {
      width: 100%;
      margin: 0;

      .col-courses {
        display: flex;
        justify-content: center;
      }
    }
  }

  .bg-css {
    height: 125px;
    background-size: contain;
  }

  .bg-ruby {
    height: 125px;
    background-size: contain;
  }

  .bg-java {
    height: 125px;
    background-size: contain;
  }

  .all-courses {
    .btn-all-courses {
      font-size: 22px;
    }
  }
}
