.why-hapo {
  width: 100%;
  padding: 0;
  margin-top: 130px;
  background-image: url("../images/bg_why_hapo.png");
  background-size: cover;
}

.container-laptop {
  position: relative;

  .img-laptop {
    position: absolute;
    left: 0;
    bottom: -15em;
    width: 22%;
  }
}

.row-why-hapo {
  height: 685px;
  display: flex;
  max-width: 85%;

  .col-left {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 7em;
    width: 47%;

    .txt-why-hapo {
      font-size: 71px;
      font-weight: 600;
      color: white;
      text-shadow: 1px 1px white;
      margin: 0;
      font-family: $font_UTM_BryantLG;
    }

    .txt-content {
      color: white;
      font-size: 21px;
      font-family: $font_UTM_BryantLG;
    }
  }

  .col-right {
    width: 53%;
    display: flex;
    align-items: center;

    .img-computer {
      width: 100%;
      margin-top: 4em;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-laptop {
    position: relative;

    .img-laptop {
      position: absolute;
      left: 0;
      bottom: -12em;
      width: 28%;
      z-index: 1;
    }
  }

  .row-why-hapo {
    height: 435px;
    background-image: url("../images/bg_why_hapo.png");
    margin-top: 100px;
    position: relative;
    max-width: 100%;

    .col-left {
      width: 55%;
      margin-bottom: 3em;

      .txt-why-hapo {
        font-size: 50px;
        color: white;
        position: absolute;
        bottom: 5.5em;
        left: 235px;
        width: 55%;
      }

      .txt-content {
        color: white;
        font-size: 14px;
      }
    }

    .col-right {
      width: 45%;

      .img-computer {
        width: 100%;
        margin-top: 10em;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .why-hapo {
    margin-top: 55px;
  }

  .container-laptop {
    .img-laptop {
      bottom: -10em;
      width: 40%;
    }
  }

  .row-why-hapo {
    height: 610px;
    flex-direction: column;

    .col-left {
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center;

      .txt-why-hapo {
        font-size: 40px;
        width: 54%;
        margin-bottom: 30px;
        position: unset;
        margin-left: 3em;
      }

      .txt-content {
        font-size: 14px;
      }
    }

    .col-right {
      width: 100%;
      text-align: center;

      .img-computer {
        width: 90%;
        margin: 0;
      }
    }
  }
}
